{% extends fobi_theme.base_edit_template %}

{% load i18n %}

{% block page-title %}{% blocktrans with form_element_plugin.name as plugin_name %}Add "{{ plugin_name }}" element to the form{% endblocktrans %}{% endblock page-title %}

{% block extrahead %}
    {% if form %}
        {{ form.media.css }}
    {% endif %}
    {{ block.super }}
{% endblock extrahead %}

{% block navbar-menu-content %}
{% endblock navbar-menu-content %}

{% block navbar-menu-right-content %}
            <li class="active"><a href="{% url 'fobi.dashboard' %}">{% trans "Forms" %}</a></li>
            <li><a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Wizards" %}</a></li>
{% endblock navbar-menu-right-content %}

{% block content %}
    {% include fobi_theme.add_form_element_entry_ajax_template %}
{% endblock content %}

{% block sidebar-content %}
{% endblock sidebar-content %}

{% block theme-javascripts %}
    {{ block.super }}
    {% if form %}
        {{ form.media.js }}
    {% endif %}
{% endblock theme-javascripts %}
