{% extends fobi_theme.base_view_template %}

{% load i18n %}

{% block page-title %}{% trans "Form wizard submitted!" %}{% endblock page-title %}

{% block navbar-menu-content %}
{% endblock navbar-menu-content %}

{% block navbar-menu-right-content %}
            <li><a href="{% url 'fobi.dashboard' %}">{% trans "Forms" %}</a></li>
            <li class="active"><a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Wizards" %}</a></li>
{% endblock navbar-menu-right-content %}

{% block content %}
    {% include fobi_theme.form_wizard_entry_submitted_ajax_template %}
{% endblock content %}

{% block sidebar-wrapper %}
{% endblock sidebar-wrapper %}
