*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~

MANIFEST.in~
MIND_BUCKET.rst
/tmp/
.zip
/demo/
/demos/
/release/
/deploy/
fobi/fobi.migrations.rst
/examples/db/

/examples/tmp/
/examples/logs/
/examples/media/fobi_plugins/content_image/
/examples/media/fobi_plugins/file/
/examples/media/cache/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/django_fobi.egg-info
/examples/simple/local_settings.py
/examples/simple/local_settings_foundation5.py
/src/fobi/contrib/plugins/form_importers/mailchimp_importer/
/src/fobi/nine.py

