*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~

MANIFEST.in~
MIND_BUCKET.rst
/tmp/
.zip
/demo/
/demos/
/release/
/deploy/
fobi/fobi.migrations.rst
/examples/db/
/src/fobi/contrib/plugins/form_elements/fields/hidden_model_object/

/examples/tmp/
/examples/logs/
/examples/media/fobi_plugins/content_image/
/examples/media/fobi_plugins/file/
/examples/media/cache/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/django_fobi.egg-info
/examples/simple/local_settings.py
/examples/simple/local_settings_foundation5.py
/examples/quickstart/local_settings.py
/src/fobi/contrib/plugins/form_importers/mailchimp_importer/
/src/fobi/nine.py
/examples/quick_start/db.sqlite3
/examples/quickstart/
/dev.db

/examples/requirements_wagtail.txt
/examples/wagtail_example/
/scripts/install_django_1_7_wagtail.sh
/scripts/reinstall_django_1_7_wagtail.sh
/src/fobi/contrib/apps/wagtail_integration/
/src/fobi/contrib/plugins/form_elements/fields/select_mptt_model_object/
