*.py[cod]
.hgignore~
.gitignore~
ghostdriver.log
.hg/
.eggs/
.vscode/
.hgtags
.tox/
.travis.yml~
.zip
*~
/.coverage
/dev.db
/.cache/
/htmlcov/
/third_party/
*.py,cover
/.idea/
/.pytest_cache/
tags
codebin.py
examples/mezzanine_example/dev.db

MANIFEST.in~
MIND_BUCKET.rst
README_PARTS.rst

/tmp/
/demo/
/demos/
/release/
/deploy/
/builddocs/
/builddocs.zip
/build/
/dist/
/var/

/docs/fobi/fobi.migrations.rst
/docs/fobi.contrib.apps.wagtail_integration.rst
/docs/fobi.contrib.plugins.form_elements.fields.hidden_model_object.rst

/src/django_fobi.egg-info
/src/fobi/contrib/plugins/form_elements/fields/hidden_model_object/
/src/fobi/contrib/plugins/form_importers/mailchimp_importer/bucket.py
/src/fobi/contrib/apps/wagtail_integration_/
/src/fobi/contrib/themes/bootstrap3/widgets/form_elements/date_bootstrap3_widget/static/bootstrap3/js/fobi.plugin.date-bootstrap3-widget-exp.js

/scripts/install_django_1_7_wagtail.sh
/scripts/reinstall_django_1_7_wagtail.sh
/scripts/copy_lund_files.sh

/examples/db/
/examples/tmp/
/examples/logs/
/examples/media/fobi_plugins/content_image/
/examples/media/fobi_plugins/file/
/examples/media/cache/
/examples/simple/lund_urls.py
/examples/simple/lund/
/examples/saved_forms_in_json_format/all/
/examples/simple/settings/local_settings.py
/examples/simple/settings/local_settings_foundation5.py
/examples/simple/settings/bootstrap3_theme_django_1_9_lund.py
/examples/simple/runserver/bootstrap3-theme-django-1-9-lund.sh
/examples/simple/settings/bootstrap3_theme_django_1_10_lund.py
/examples/simple/runserver/bootstrap3-theme-django-1-10-lund.sh
/examples/quickstart/local_settings.py
/examples/quick_start/db.sqlite3
/examples/quickstart/
/examples/static/
/examples/_static/
/examples/requirements/wagtail.txt
#/examples/wagtaildemo/
/examples/wagtail_example_/
/examples/wagtaildemo/.vagrant
/examples/wagtaildemo/wagtaildemo/settings/local.py
/examples/wagtaildemo/static
/examples/wagtaildemo/media
/examples/wagtaildemo/Vagrantfile.local
/src/fobi/contrib/themes/bootstrap3/widgets/form_elements/content_markdown_bootstrap3_widget
