include README.rst
include LICENSE_GPL2.0.txt
include LICENSE_LGPL_2.1.txt
include CHANGELOG.rst

#recursive-include src/fobi/locale/hy *
recursive-include src/fobi/locale/nl *
recursive-include src/fobi/locale/ru *
recursive-include src/fobi/locale/de *

# Static files except for the jquery-ui development bundle
recursive-include src/fobi/static *
#prune src/fobi/static/jquery-ui/development-bundle

recursive-include src/fobi/contrib/themes/bootstrap3/static *
recursive-include src/fobi/contrib/themes/bootstrap3/widgets/form_elements/datetime_bootstrap3_widget/static *
recursive-include src/fobi/contrib/themes/bootstrap3/widgets/form_elements/date_bootstrap3_widget/static *
recursive-include src/fobi/contrib/themes/bootstrap3/widgets/form_elements/dummy_bootstrap3_widget/static *
recursive-include src/fobi/contrib/themes/foundation5/static *
recursive-include src/fobi/contrib/themes/foundation5/widgets/form_elements/datetime_foundation5_widget/static *
recursive-include src/fobi/contrib/themes/foundation5/widgets/form_elements/date_foundation5_widget/static *
recursive-include src/fobi/contrib/themes/foundation5/widgets/form_elements/dummy_foundation5_widget/static *
recursive-include src/fobi/contrib/themes/simple/static *
recursive-include src/fobi/contrib/themes/djangocms_admin_style_theme/static *

recursive-include src/fobi/contrib/plugins/form_elements/test/dummy/static *
recursive-include src/fobi/contrib/plugins/form_handlers/db_store/static *

# Templates
recursive-include src/fobi/templates *

recursive-include src/fobi/contrib/themes/bootstrap3/templates *
#recursive-include src/fobi/contrib/themes/bootstrap3/widgets/form_elements/datetime_bootstrap3_widget/templates *
recursive-include src/fobi/contrib/themes/foundation5/templates *
#recursive-include src/fobi/contrib/themes/foundation5/widgets/form_elements/datetime_foundation5_widget/templates *
recursive-include src/fobi/contrib/themes/foundation5/widgets/form_handlers/db_store_foundation5_widget/templates *
recursive-include src/fobi/contrib/themes/simple/templates *
recursive-include src/fobi/contrib/themes/djangocms_admin_style_theme/templates *

recursive-include src/fobi/contrib/apps/djangocms_integration/templates *
#recursive-include src/fobi/contrib/apps/feincms_integration/templates *
recursive-include src/fobi/contrib/apps/mezzanine_integration/templates *

recursive-include src/fobi/contrib/plugins/form_elements/content/content_image/templates *

recursive-include src/fobi/contrib/plugins/form_handlers/db_store/templates *
recursive-include src/fobi/contrib/plugins/form_handlers/mail/templates *
recursive-include src/fobi/contrib/plugins/form_handlers/http_repost/templates *

recursive-include src/fobi/contrib/plugins/form_importers/mailchimp_importer/templates *
