{% extends "demo/base.html" %}
{% load wagtailcore_tags %}


{% if self.date %}
    {% block heading %}
        <div class="page-header">
            <h2>{{ self.title }} {{ self.date|date:"j F Y" }}</h2>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% include "demo/includes/body.html" with body=self.body only %}

    {% with self.tags.all as tags %}
        {% if tags %}
            <div class="page-header"><h3>Tags</h3></div>
            {% for tag in tags %}
                <a href="{% pageurl self.blog_index %}?tag={{ tag }}"><button class="btn btn-primary" type="button">{{ tag }}</button></a>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
