{% load i18n %}

    <div class="{{ fobi_theme.custom_data.page_header_html_class }}">
      <h1>{% trans "Change password" %}</h1>
    </div>

    <form method="post" action="{{ request.path }}" enctype="multipart/form-data" class="{{ fobi_theme.custom_data.form_html_class }}">
      {% csrf_token %}
      {% include "fobi/snippets/generic_form_snippet.html" %}
      <div class="{{ fobi_theme.custom_data.form_button_outer_wrapper_html_class }}">
        <div class="{{ fobi_theme.custom_data.form_button_wrapper_html_class }}">
            <button type="submit" class="{{ fobi_theme.custom_data.form_button_html_class }} {{ fobi_theme.custom_data.form_primary_button_html_class }}">{% trans "Change password" %}</button>
        </div>
      </div>
    </form>
