{% load i18n %}
    {% url 'auth_password_reset' as auth_pwd_reset_url %}
    {% url 'registration_register' as register_url%}

    <div class="{{ fobi_theme.custom_data.page_header_html_class }}">
      <h1>{% trans "Reset password" %}</h1>
    </div>

    <p>
      {% blocktrans %}
      Forgot your password?  Enter your email in the form below and we'll send you
      instructions for creating a new one.
      {% endblocktrans %}
    </p>

    <form method="post" action="{{ request.path }}" enctype="multipart/form-data" class="{{ fobi_theme.custom_data.form_html_class }}">
      {% csrf_token %}
      {% include fobi_theme.form_snippet_template_name %}
      <div class="{{ fobi_theme.custom_data.form_button_outer_wrapper_html_class }}">
        <div class="{{ fobi_theme.custom_data.form_button_wrapper_html_class }}">
          <button type="submit" class="{{ fobi_theme.custom_data.form_button_html_class }} {{ fobi_theme.custom_data.form_primary_button_html_class }}">{% trans "Reset password" %}</button>
        </div>
      </div>
    </form>
