{% extends "fobi/generic/edit_form_handler_entry.html" %}

{% load i18n %}

{% block breadcrumbs-inner %}
      {% if form_entry %}
        {% with form_entry.name as title %}
          <a href="{% url 'fobi.edit_form_entry' form_entry.pk %}">{% if title %} &rsaquo; {{ title }}{% endif %}</a>
        {% endwith %}
        &rsaquo; {% blocktrans with form_handler_plugin.name as plugin_name %}Edit "{{ plugin_name }}" form handler{% endblocktrans %}
      {% endif %}
{% endblock breadcrumbs-inner %}
