{% load wagtailcore_tags wagtailimages_tags %}
{% if people %}
    <div class="page-header"><h3>People</h3></div>
    <div class="list-group people">
        {% for person in people %}
            <a class="list-group-item" href="{% pageurl person %}">
                <h4 class="list-group-item-heading"> {{ person.first_name }} {{ person.last_name }}</h4>
                {% if person.search_description or person.image %}
                    <p class="list-group-item-text">
                        {% if person.image %}
                            {% image person.feed_image width-200 %}
                        {% endif %}
                        {% if person.search_description %}
                            {{ person.search_description }}
                        {% endif %}
                    </p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}