#https://www.djangoproject.com/download/1.8a1/tarball/
Django>=1.8,<1.9

Jinja2
MarkupSafe
#MySQL-python
Sphinx
django-admin-tools>=0.5.2
django-autoslug==1.7.1
django-debug-toolbar==0.11.0
django-localeurl>=2.0.2
django-registration-redux>=1.1
docutils
ipdb
ipython
ordereddict>=1.1
# Selenium shall always be upgraded
selenium
simple-timer>=0.2
tox