Django
django-fobi
Jinja2
MarkupSafe
MySQL-python
mailchimp
Sphinx
django-admin-tools>=0.5.2
django-debug-toolbar>=0.11.0
django-formtools
django-localeurl>=2.0.2
django-nine>=0.1.6
django-registration-redux>=1.1
docutils
ipdb
ipython
ordereddict>=1.1
# Selenium shall always be upgraded
selenium
simple-timer>=0.2
tox
