{% extends "page/base.html" %}
{% load i18n static %}

{% block extra_css %}
    {{ block.super }}
    {% for css_file in fobi_theme.get_media_css %}
    <link href="{% static css_file %}" rel="stylesheet" media="all" />
    {% endfor %}
{% endblock extra_css %}

{% block form_page_header_wrapper %}
  <div class="alert alert-info" role="alert">
    {% blocktrans with fobi_theme.uid as fobi_theme_uid %}This is just an example of how can we use a custom
     template for rendering the form for the theme {{ fobi_theme_uid }} given.{% endblocktrans %}
  </div>
  {{ block.super }}
{% endblock %}

{% block content %}
    {% include fobi_theme.embed_form_entry_submitted_ajax_template %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% for js_file in fobi_theme.get_media_js %}
    <script src="{% static js_file %}"></script>
    {% endfor %}
{% endblock extra_js %}



{% comment %}
{% extends "pages/page.html" %}

{% block main %}
    <h1>{{ fobi_success_page_title }}</h1>
    <p>{{ fobi_success_page_text }}</p>
{% endblock main %}
{% endcomment %}