{% load wagtailcore_tags wagtailimages_tags %}

{# Individual blog item in a list - used on blog index and home page #}
<a class="list-group-item" href="{% pageurl blog %}">
    <h4 class="list-group-item-heading">{{ blog.title }}</h4>
    <p><strong>{{ blog.date|date:"j F Y" }}</strong></p>
    {% if blog.search_description or blog.feed_image %}
        <p class="list-group-item-text">
            {% if blog.feed_image %}
                {% image blog.feed_image width-200 %}
            {% endif %}
            {% if blog.search_description %}
                {{ blog.search_description }}
            {% endif %}
        </p>
    {% endif %}
</a>