{% block form_page_header_wrapper %}
<div class="{% block form_page_header_html_class %}{% endblock %}">
  {% block form_page_title_wrapper %}
    <h1>{% block form_page_title %}{% endblock %}</h1>
  {% endblock %}
</div>
{% endblock %}

<form id="{% block form_id %}fobi-form{% endblock %}" method="{% block form_method %}post{% endblock %}" action="{% block form_action %}{{ form_entry.action|default:request.path }}{% endblock %}" {% block form_enctype %}enctype="multipart/form-data"{% endblock %} class="{% block form_html_class %}{% endblock %}" {% block form_extra_attrs %}{% endblock %}>
  {% csrf_token %}
  {% include fobi_theme.form_snippet_template_name %}
  <div class="{% block form_button_outer_wrapper_html_class %}{% endblock %}">
    <div class="{% block form_button_wrapper_html_class %}{% endblock %}">
      {% block form_buttons %}
      <button type="submit" class="{% block form_primary_button_html_class %}{% endblock %}">
        {% block form_primary_button_text %}{% endblock %}
      </button>
      {% endblock %}
    </div>
  </div>
</form>
